:root{
  --verPadding: 0.5em;
  --horiPadding: 0.75em;
}
html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

@font-face{
	font-family: freeSans-regular;
	src: url(assets/freeSans-20120503-woff/FreeSans.woff);
}
@font-face{
	font-family: freeSans-italic;
	src: url(assets/freeSans-20120503-woff/FreeSansOblique.woff);
}


body{
	font-family: freeSans-regular;
	font-size: 20px;
	width: 100%;
	max-width: 1260px;
	margin-left: auto;
	margin-right: auto;
}

@media all and (max-width: 1400px) {
	body{
		font-size: 17px;
  }
}

@media all and (max-width: 900px) {
	body{
		font-size: 13px;
	}
}

p{
	margin:0;
	padding:0;
	font-size: 1em;
}

#journal{
	margin: 1em;
	border: 1px solid black;
	border-bottom: 0;
	line-height: 1.5;
	letter-spacing: 0.02em;
}
.row{
	display: grid;
	border-bottom: 1px solid #000;
	padding: var(--verPadding) var(--horiPadding);
}


.row{
	grid-template-columns:repeat(2, 50%);
	grid-template-rows: auto;
}
@media all and (max-width: 900px) {
	.row{
		grid-template-columns:100%;
		grid-template-rows:auto auto;
	}
}

.cell{
  word-wrap: break-word;
  padding-left: var(--horiPadding);
  padding-right: var(--horiPadding);
  box-sizing: border-box;
}
@media all and (max-width: 900px) {
	.cell{ 
		padding: 0; 
	}
}

.note{
	padding-right: 0;
}
.infoCont{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}
@media all and (max-width: 900px) {
	.infoCont{
		grid-template-columns: repeat(3, max-content);
		margin: auto;
		text-align: center;
		gap: 1em;
	}
}
.nobr { white-space:nowrap; }
.date{ padding-left: 0; }






	
	
	
}







/*a{
	font-family: freeSans-italic;
	color: inherit;
	cursor: pointer;
	text-decoration: none;
}
li {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  counter-increment: foo;
  display: table-row;
}
li::before {
  content: "•";
  display: table-cell;
  text-align: right;
  padding-right: 0.3em;
}
.tab{
	margin-left:1em;
}*/
