html{ font-size: 18px; }
@media all and (max-width: 1400px) { html{ font-size: 15px; } }
@media all and (max-width: 900px) { html{ font-size: 13px; } }
:root{
  --verPadding: 0.4em;
  --horiPadding: 0.6em;
}
html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
} /* preserves HTML font-size when iPhone orientation changes from portrait to landscape */
@font-face{
	font-family: freeSans-regular;
	src: url(assets/freeSans-20120503-woff/FreeSans.woff);
}
@font-face{
	font-family: freeSans-italic;
	src: url(assets/freeSans-20120503-woff/FreeSansOblique.woff);
}
*{
	margin: 0;
	padding: 0;
}
body{
/*	font-family: freeSans-regular, sans-serif;*/
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	width: 100%;
	max-width: 1260px;
	margin-left: auto;
	margin-right: auto;
	-webkit-font-smoothing: antialiased;
}
#journal{
	margin: 1em;
	border: 1px solid #000;
	border-bottom: 0;
	line-height: 1.25;
	letter-spacing: 0.015em;
/*	background-color: yellow;*/
}
#title{
	text-align: center;
	border-bottom: 1px solid #000;
	padding: var(--verPadding) var(--horiPadding);
}
.row{
	display: grid;
	border-bottom: 1px solid #000;
	padding: var(--verPadding) var(--horiPadding);
}
.row{
	grid-template-columns:repeat(2, 50%);
	grid-template-rows: auto;
}

@media all and (max-width: 900px) {
	.row{
		grid-template-columns: 100%;
		grid-template-rows: auto auto;
	}
}

.infoCont{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	counter-reset: count; 
}
@media all and (max-width: 900px) {
	.infoCont{
		grid-template-columns: repeat(3, max-content);
		margin: auto;
		text-align: center;
		gap: 1em;
	}
}

.cell{
  word-wrap: break-word;
  padding-left: var(--horiPadding);
  padding-right: var(--horiPadding);
  box-sizing: border-box;
}
@media all and (max-width: 900px) {
	.cell{ 
		padding: 0; 
	}
}

.note{
	padding-right: 0;
}

a{
/*	font-family: freeSans-italic;*/
	font-style: italic;
	color: inherit;
	cursor: pointer;
	text-decoration: none;
}
a::after{ 
	font-style: normal;
	font-weight: bold;
	content: '↗'; 
}
a:hover{
	color: blue;
}


.nobr { white-space:nowrap; }
.date{ padding-left: 0; }






	
	
	








li {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  counter-increment: foo;
  display: table-row;
}
li::before {
  content: "•";
  display: table-cell;
  text-align: right;
  padding-right: 0.3em;
}
.tab{
	margin-left:1em;
}
