:root{
/*  --main-color: #e0d290;*/
/*  --main-color: #eee; */
  --main-color: gainsboro;
  --spacing: 0.7em;
}
@font-face {
font-family:"neue-haas-grotesk-display";
src:url("https://use.typekit.net/af/1ba16c/00000000000000007735bb5a/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/1ba16c/00000000000000007735bb5a/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/1ba16c/00000000000000007735bb5a/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:500;font-stretch:normal;
}

@font-face{
  font-family: myriad-italic;
  src: url(assets/MyriadPro-It.otf);
}

@font-face{
  font-family: myriad-light;
  src: url(assets/myriadpro-light-webfont.woff);
}




@font-face{
	font-family: freeSans-regular;
	src: url(assets/freeSans-20120503-woff/FreeSans.woff);
}

@font-face{
	font-family: freeSans-italic;
	src: url(assets/freeSans-20120503-woff/FreeSansOblique.woff);
}

body{
	font-family: freeSans-regular;
	line-height: 1.5;
	margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1200px;
  font-size: 1rem;
}
#journal{
	width: 100%;
	
	letter-spacing: 0.02rem;
	border: 1px solid black;
	box-sizing: border-box;
}
.row{
	display: grid;
	box-sizing: border-box;
	border-bottom: 1px solid #000;
	padding: 0.5rem 0.7rem;
}
.cell{
  word-wrap: break-word;
  padding-left: var(--spacing);
  padding-right: var(--spacing);
  box-sizing: border-box;
}
.classday{
	background-color: #000;
	color: var(--main-color);
}

.infoCont{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto;
}
.date, .day{
  letter-spacing: 0.02em;
}
.date{
	padding-left: 0;
}
.link{
	padding-left: 0.1em;
}
a{
	font-family: freeSans-italic;
	color: inherit;
	cursor: pointer;
	text-decoration: none;
}
li {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  counter-increment: foo;
  display: table-row;
}
li::before {
  content: "•";
  display: table-cell;
  text-align: right;
  padding-right: 0.3em;
}
.tab{
	margin-left:1em;
}


@media screen and (max-width: 600px){
	#journal{
  	font-size: 14px;
	}
	.infoCont{
		/*grid-template-columns: repeat(3, minmax(min-content, max-content));*/
		grid-template-columns: repeat(3, max-content);
		justify-self: center;
		text-align: center;
		/*gap: 1em;*/
		gap: 5vw;
	}
	.infoCont .cell{
		padding: 0;
	}
	.row{
		grid-template-columns:100%;
		grid-template-rows:auto auto;
	}
	
	.infoCont{
		border-bottom: 0px;
	}
	.classday .rating, .rating{
		border-right: 0px;
	}
	.notes{
		padding: 0;
		grid-column: 1/2;
		grid-row: 2/3;
	}
}

@media screen and (min-width: 600px){
	#journal{
  	font-size: 14px;
  	margin-top:1rem;
	}
	.row{
		grid-template-columns:repeat(2, 50%);
		grid-template-rows: auto;
	}
	.notes{
		padding-top: 0;
		padding-right: 0;
		grid-column: 2/3;
		grid-row: 1/2;
		border-top: 0px;
	}
	.classday .notes{
		border-top: 0px;
	}
	.infoCont{
		padding-bottom: 0;
	}
	.info{
/*		border-right: 1px solid #000;*/
		border-bottom: 0px;
	}
	.classday .info{
		border-right: 1px solid var(--main-color);
		border-bottom: 0px;
	}
}

@media screen and (min-width: 900px){
	#journal{
		font-size: 20px;
		margin-top:1rem;
	}
}

/*@media screen and (min-width: 1200px){
	#journal{
  		font-size: 20px;
	}
}*/